doctype html
html(lang='en')
  head
    title Agikigi Technology
    meta(charset='utf-8')
    link(rel='icon', href='http://agikigi.com/static/frontend/images/favicon.ico')
    link(rel='shortcut icon', href='http://agikigi.com/static/frontend/images/favicon.ico')
    link(rel='stylesheet', href='http://agikigi.com/static/frontend/css/style.css')
    link(rel='stylesheet', href='http://agikigi.com/static/frontend/css/font-awesome.css')
    link(rel='stylesheet', href='http://agikigi.com/static/frontend/css/slider.css')
    link(rel='stylesheet', href='http://agikigi.com/static/frontend/css/elastislide.css')
    script(src='http://agikigi.com/static/frontend/js/jquery.js')
    script(src='http://agikigi.com/static/frontend/js/jquery-migrate-1.1.1.js')
    script(src='http://agikigi.com/static/frontend/js/superfish.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.equalheights.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.easing.1.3.js')
    script(src='http://agikigi.com/static/frontend/js/modernizr.custom.63321.js')
    script(src='http://agikigi.com/static/frontend/js/jquerypp.custom.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.ui.totop.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.carouFredSel-6.1.0-packed.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.elastislide.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.catslider.js')
    script(src='http://agikigi.com/static/frontend/js/jquery.touchSwipe.min.js')
    script.
        $(window).load ( function(){ $( '#mi-slider' ).catslider(); $( '#carousel' ).elastislide( { orientation : 'vertical' } ); }); $(window).load ( function(){$('#carousel1').carouFredSel({auto: false, prev: '.prev1',next: '.next1', width: 220, items: { visible : {min: 1, max: 1
                },
                height: 'auto', width: 220, }, responsive: true, scroll: 1, mousewheel: false, swipe: {onMouse: false, onTouch: false}}); } ); $(document).ready(function(){ $().UItoTop({ easingType: 'easeOutQuart' }); });
    //if lt IE 8
      div(style=' clear: both; text-align:center; position: relative;')
        a(href='http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode')
          img(src='http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg', border='0', height='42', width='820', alt='You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.')
    //if lt IE 9
      script(src='http://agikigi.com/static/frontend/js/html5shiv.js')
      link(rel='stylesheet', media='screen', href='http://agikigi.com/static/frontend/css/ie.css')
  body.page1
    // ==============================header=================================
    header
      .container_12
        .grid_12
          h1
            a(href='http://agikigi.com/')
              img(src='http://agikigi.com/static/frontend/images/logo2.png', alt='Boo House')
          .menu_block
            nav
              ul.sf-menu
                li.current
                  a(href='#index.html') Our Farm
                li
                  a(href='#index-1.html') Products
                li
                  a(href='#index-2.html') Blog
                li
                  a(href='#index-3.html') Recipes
                li
                  a(href='#index-4.html') Contacts
            .clear
          .clear
    // ==============================Content=================================
    .content
      .ic More Website Templates @ TemplateMonster.com - September 21, 2013!
      .container_12
        .grid_8.prefix_2
          #mi-slider.mi-slider
            ul
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/fruit1.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/fruit2.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/fruit3.jpg', alt='')
            ul
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/veg1.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/veg2.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/veg3.jpg', alt='')
            ul
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/meat1.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/meat2.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/meat3.jpg', alt='')
            ul
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/dier1.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/dier2.jpg', alt='')
              li
                a(href='#')
                  img(src='http://agikigi.com/static/frontend/images/dier3.jpg', alt='')
            nav
              a(href='#') fruits
              a(href='#') vegetables
              a(href='#') meat
              a(href='#') dairy
        .clear
        .grid_8
          h3 Welcome to Organic Company
          img.img_inner.fleft(src='http://agikigi.com/static/frontend/images/page1_img1.jpg', alt='')
          .extra_wrapper
            p
              | Want to learn more about this freebie designed by TemplateMonster.com? Follow the
              a(href='http://blog.templatemonster.com/free-website-templates/') link
            p
              a(href='http://www.templatemonster.com/category/agriculture-website-templates/', rel='nofollow')
                | Find more themes of this kind at the category of premium Agriculture Website Templates.
          .clear
          |  Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Praesent faucibus malesuada faucibus. Donecyl laoreet metus id laoreet malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetu orci sed nulla facilisis consequat. Curabitur vel lorem sit amet nulla ullamcorper fermentum.
          .grid_4.alpha
            .banner.maxheight
              h3
                a(href='#')
                  | 100% Eco &
                  br
                  |  Organic
            h3 Our Mission
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet ultriciesyt erat rutrum. Cras facilisis, nulla vel viverra auctor, leo ame magna sodales felis, quis malesuada.
            ul.list
              li
                a(href='#') Duis massa elit, auctor non pellentesque vel.
              li
                a(href='#') Nullam eget dignissim nisi, aliquam feugiat nibh.
              li
                a(href='#') Ut nisi nibh, sagittis ut semper elementum.
              li
                a(href='#') Pellentesque a odiohasellus vitae libero vel.
              li
                a(href='#') Justo pretium dignissimteger semper in estgue.
              li
                a(href='#')  In laoreet lacus eros, vel pulvinar urna ultut.
          .grid_4.omega
            .banner.b1.maxheight
              h3
                a(href='#')
                  | Control of
                  br
                  |  the Quality
            h3 What We Offer
            p
              | Retrolom ipsum dolor sit met, consectetur ipiscing elit. In mollis erat mattis neque facilisis, sit amet ultriciesert erat rutrum. Bras facilisis, nulla vel viverra aucto ame magna sodales felis, quis nibh odio.
            ul.list
              li
                a(href='#') Setrolis assa elit, auctor non reto lo.
              li
                a(href='#') Master lam eget dignissim nliam feugiat nibherty.
              li
                a(href='#') Do nisi nibh ut semper ntumertolillente derto.
              li
                a(href='#') Sertloque a odiohasellus vitae libero velertlo fer.
              li
                a(href='#') Monrilo sto pretium dignissimerwtoli moloer.
              li
                a(href='#') Ontnteger semper in estgue destro.
          .clear
        .grid_3.prefix_1
          // Elastislide Carousel
          ul#carousel.elastislide-list
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img2.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img3.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img4.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img2.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img3.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img4.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img2.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img3.jpg', alt='')
            li
              a(href='#')
                img(src='http://agikigi.com/static/frontend/images/page1_img4.jpg', alt='')
          // End Elastislide Carousel
          .car_div
            .title What People Say
            ul#carousel1
              li
                | “Lorem ipsum dolor sit amet, tetur adipiscing elit. In ollis erat matti neque facilisis, sit amet .”
              li
                | "Retrolom ipsum dolor sit met, consectetur ipiscing elit. In mollis erat mattis neque."
              li
                | "Aliquam nibh ante, egestas id dictum a, commodo luctus libero. Praesent faucibus."
            a.prev1(href='#')
            a.next1(href='#')
    .bottom_block
      .container_12
        .grid_10.prefix_1
          .column
            a(href='#') Useful Info
            br
            a(href='#') Our Staff
          .column
            a(href='#') News & Events
            br
            a(href='#') Our Guarantee
          .column
            a(href='#') FAQs
            br
            a(href='#') Contacts
          .clear
          .socials
            a(href='#')
              i.icon-facebook
            a(href='#')
              i.icon-twitter
            a(href='#')
              i.icon-google-plus
            a(href='#')
              i.icon-pinterest
    // ==============================footer=================================
    footer
      .container_12
        .grid_12
          .copy
            | Agikigi Technology (C) 2017
            a(href='#') Privacy Policy
            |  | Website Template Designed by
            a(href='http://agikigi.com/', rel='nofollow') Agikigi.com
