footer.portal-footer.mdc-toolbar.mdc-theme--text-primary-on-primary-light.mdc-theme--primary-light-bg.mdc-toolbar--portal-no-shrink
	.mdc-toolbar__row
		section.mdc-toolbar__section.mdc-toolbar__section--align-start
			.mdc-toolbar__title
				small
					| © 2018 Mobiistar
		section.mdc-toolbar__section.mdc-toolbar__section--align-end
			a.mdc-toolbar__icon.mdc-theme--secondary(href='#')
				small
					i.fa.fa-twitter
			a.mdc-toolbar__icon.mdc-theme--secondary(href='#')
				small
					i.fa.fa-facebook
			a.mdc-toolbar__icon.mdc-theme--secondary(href='#')
				small
					i.fa.fa-linkedin