meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

// load fonts
link(href='https://fonts.googleapis.com/icon?family=Material+Icons|Barlow:100,300,400,400i,500,700,900', rel='stylesheet')
// Portal Styles
link#portal-stylesheet(rel='stylesheet', href='/public/backend/css/classic-light_blue-pink.css')
link#custom-stylesheet(rel='stylesheet', href='/public/backend/css/custom.css')

// favicon
link(rel="icon", href="/public/favicon.png", type="image/png", sizes="152x152")
title #{title}


