script(src='/public/backend/js/jquery-3.2.1.min.js')
// initialise material components js
script(src='/public/backend/js/plugins/material-components-web.js')
// layout js
script(src='/public/backend/js/plugins/classic.js')
// components js
script(src='/public/backend/js/plugins/notification-sidenav.js')
script(src='/public/backend/js/plugins/top-toolbar.js')
script(src='/public/backend/js/plugins/pace.js')