.portal-loader-logo-wrapper
	.portal-loader-logo
		.portal-loader-logo__circle.portal-loader-logo__circle__bottom
		.portal-loader-logo__circle.portal-loader-logo__circle__top
		.portal-loader-logo__circle.portal-loader-logo__circle__left
		.portal-loader-logo__circle.portal-loader-logo__circle__right
		.portal-loader-logo__circle.portal-loader-logo__circle__inner
	.portal-loader-logo-text
		| Portal